!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/easeljs-0.6.1.min.js")

  body
    block content

  script(src="/javascripts/client.js")
  script
    client = new Client();
